.App {
  text-align: left;
  background-color: #3e7468;
  display: flex;
  flex-direction: column;
  /*align-items: center;
  justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);

}

.table {
  border: 1px solid rgb(255, 255, 255);
}


.wrappingimage  {   
  display: flex;
  flex-direction: row;
  align-items: left;
}

.imagetext {
  display: flex;
  flex-direction: column;
  text-align: center;

}

prp {
  display: flex;
  flex-direction: row;
  /* width: 1600px; */
}

.calendar {
  flex: 0.4;
  padding: 50px;
}

.text_entry {
  flex: 2;
  padding: 50px;
}

.prpoutput {
  flex: 0.3;
  padding: 50px;
}

.chooseplant {
  flex: 0.1;
  
}